{%  extends 'accounts/main.html' %}
{% load static %}
{% block content %}

<div class="row">
    <div class="col-md-6">
        <div class="card card-body">
            <form action="" method="POST">
                {% csrf_token %}
                
                {% if form %}
                    {{form}}
                {% endif%}

                {% if form_set %}
                    {{ form_set.management_form }}
                    {% for form in form_set %}
                        {{ form }}
                        <hr>
                    {% endfor %}
                {% endif%}
                
                <a class="btn btn-sm btn-danger" href="{% url 'home' %}" style="width: 70px; height: 40px;text-align: center;vertical-align: middle;font-size: 1rem;">Cancel</a>
                <input class="btn btn-info" type="submit" name="Submit">
            </form>
        </div>
    </div>
</div>



{% endblock %}