<br>

<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-projects" style="background-color: rgb(34, 56, 65)">
			  	<div class="card-header">
			  		<h5 class="card-title">Total Projects</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{total_projects}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="projects-completed" style="background-color: rgb(37, 67, 78)">
			  	<div class="card-header">
			  		<h5 class="card-title">Projects Completed</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{ completed }}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="projects-incompleted" style="background-color: rgb(52, 98, 112)">
			  	<div class="card-header">
			  		<h5 class="card-title">Projects Incompleted</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{ incompleted }}</h3>
			  	</div>
			</div>
		</div>
	</div>
</div>