{%  extends 'accounts/main.html' %}
{% block content %}
{% include 'accounts/status.html' %}

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<table class="table table-sm">
				<tr>
					<th>Project Name</th>
					<th>Member</th>
					<th>Category</th>
					<th>Start Date</th>
					<th>Status</th>
				</tr>

				{% for project in projects %}
					<tr>
						<td>{{project.name}}</td>
						<td>{{project.member}}</td>
						<td>{{project.member.category}}</td>
						<td>{{project.date_created}}</td>
						<td>{{project.status}}</td>
					</tr>
				{% endfor %}

			</table>
		</div>
	</div>
</div>

{% endblock %}